@charset "UTF-8";


.tabla {
	border: solid .1rem;
	border-color: black;
	background-color: gainsboro;
	width: 100%;
}

.noviembre {
	text-align: center;
}

.nano {


	width: 100%;
}

.nano1 {
	background-color: ghostwhite;
}

.tabla1 {
	border: solid .1rem;
	border-color: black;
	width: 100%;
	background-color: yellow;
}

.tablados{
	border: solid .1rem;
	border-color: black;
	background-color: green;
	width: 100%;
}