@charset "UTF-8";

body {
	background-color: lightyellow;
}

.tabla {
	border: solid .1rem;
	border-color: black;
	background-color: gainsboro;
	width: 100%;
	border-collapse: collapse;
	height: 200px;
}


th {
	border: solid black;
}

.tete {
	margin: 2rem;
	overflow: scroll;
	height: 200px;
	width: 100%;

}


.noviembre {
	text-align: center;
}

.nano {
	width: 100%;
}

.nano1 {
	text-align: center;

	background-color: ghostwhite;


}

.tabla1 {
	border: solid .1rem;
	border-color: black;
	width: 100%;
	background-color: yellow;
	border-collapse: collapse;
}

.tablados {
	border: solid .1rem;
	border-color: black;
	background-color: green;
	width: 100%;
	border-collapse: collapse;
}